body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf0f3;
  font-family: 'Poppins', sans-serif;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}
.card .content {
  width: 400px;
  box-sizing: border-box;
}
.content img {
  display: inline-block;
  object-fit: cover;
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 0 0 10px 10px;
}
.content img::after {
  content:'';
  background-image: inherit;
  width:inherit;
  height:40%;
  position: absolute;
  bottom:-41%;
  transform: scaleY(-1);
}
.card .sliderText {
   position: relative;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #000;
   border-radius: 10px 10px 0 0;
}
.card .sliderText h3 {
  color: #fff;
  font-size: 3em;
}
#swipe-wrap {
  margin-top: 100px;
}
.swiper-slide {
  width: 400px;
}
.swiper-slide .sliderText {
  background: #f9ac85;
}
#country-form {
  position: fixed;
  top: 0;
  z-index: 9;
  padding: 18px 5px 5px 5px;
}
.form-section {
  width: 100%;
  padding: 0 5px 5px 5px;
}
.form-section input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 15px 20px 15px 20px;
}
#c-name {
  margin-bottom: 5px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
#c-image {
  padding: 12px;
}
.country-name {
  margin: 32px 0 30px;
}
.cntry-img {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.cntry-img + label {
    color: white;
    background-color: #18b5ae;
    height: 50px;
    border-style: groove;
    padding: 15px 30px;
    width: 200px;
    z-index: 9;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-shadow: 3px 3px 8px #b1b1b1,
               -3px -3px 8px #ffffff;
    transition: 0.3s;
}
.cntry-img:focus + label,
.cntry-img + label:hover {
    background-color: #f9ac85;
}
.cntry-img + label {
	cursor: pointer; /* "hand" cursor */
}
.submit-cntry-img {
  color: white;
  background-color: #f9ac85;
  height: 50px;
  padding: 15px 10px;
  border-style: groove;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}
.form-section {
  margin-left: 30px;
}
.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #cf5d16;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: center;
  background-size: 100px;
  float: left;
}
.header a:hover {
  background-color: #cf5d16;
  color: #ecf0f3;
  size: 30px 10px;
}
.header-right {
  float: right;
  margin-top: 25px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.dlte-btn {
  right: -375px;
  position: relative;
  background-color: #a63d08;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.country-sp {
  text-align: center;
}

.place-button {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
  color: white;
  background-color: #18b5ae;
  height: 50px;
  padding: 12px 30px 20px;
  width: 200px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}
.place-button:focus + label,
.place-button + label:hover {
    background-color: #f9ac85;
}
.placeForm-div {
  display: none;
}
.place-form {
  width: 505px
}
.place-form #p-name {
  width: 500px;
  border: none;
  outline: none;
  background: none;
  padding: none;
  margin-top: 30px;
  font-size: 18px;
  color: #555;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
.place-form #p-desc {
  width: 500px;
  height: 150px;
  border: none;
  outline: none;
  background: none;
  padding: none;
  margin-top: 30px;
  font-size: 18px;
  color: #555;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
.plce-img {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.plce-img + label {
    color: white;
    background-color: #18b5ae;
    height: 50px;
    border-style: groove;
    padding: 15px 30px;
    width: 200px;
    z-index: 9;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-shadow: 3px 3px 8px #b1b1b1,
               -3px -3px 8px #ffffff;
    transition: 0.3s;
}
.plce-img:focus + label,
.plce-img + label:hover {
    background-color: #f9ac85;
}
.plce-img + label {
	cursor: pointer; /* "hand" cursor */
}
.submit-plce-img {
  color: white;
  background-color: #f9ac85;
  height: 50px;
  padding: 2px 62px 1px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1,
             -3px -3px 8px #ffffff;
  transition: 0.3s;
}
.plce-card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.plce-content {
  height: 200px;
}
.plce-content img {
  display: inline-block;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 200px;
}

.plce-sliderText {
   position: relative;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #000;
   border-radius: 10px 10px 0 0;
}
.plce-sliderText h3 {
  color: #fff;
  font-size: 3em;
}
.swipe-slide {
  margin-top: 100px;
  padding: 10px;
  width: 400px;

}
.swipe-slide .plce-sliderText {
  background: #f9ac85;
}
.plce-desc {
  position: relative;
  border-left: groove;
  border-right: groove;
  border-bottom: groove;
  border-color: #f9ac85;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.plce-desc p {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.dlte-plce {
  right: -375px;
  position: relative;
  background-color: #a63d08;
  border-radius: 20px;
  border-style: none;
  color: #fff;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}
